<h3 class="title"><%= l(:add_issue_branches) %></h3>

<%= form_tag({:controller => 'branches',
              :action => ('append'),
              :issue => @issue,
              :project_id => @issue.project.id},
             :remote => true,
             :method => :post,
             :id => 'new-branch-form') do %>

    <div id="branches_for_issue">
      <% @repositories.each do |rep| %>
          <p><strong><%= "#{rep.name}" %></strong></p>
          <% rep.branches.each do |branch| %>
              <p><%= check_box_tag 'branch[branch_ids][]', "#{rep.id},#{branch.name}" %> <%= branch.name %></p>
          <% end %>
      <% end %>
    </div>
    <p class="buttons">
      <%= submit_tag l(:button_add), :name => nil, :onclick => "hideModal(this);" %>
      <%= submit_tag l(:button_cancel), :name => nil, :onclick => "hideModal(this);", :type => 'button' %>
    </p>
<% end %>
